/*------------------------------------*\
  # General
\*------------------------------------*/

@mixin reset-appearance {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background: none;
}

@mixin pseudo-dot(
  $clr: $clr-perano,
  $size: 0.6rem,
  $ml: 1.6rem,
  $offset: -0.1rem
) {
  &::after {
    content: '';
    position: relative;
    top: $offset;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin-left: $ml;
    background: $clr;
  }
}

@mixin bordered-image(
  $clr: $clr-alabaster,
  $height: 34.4rem,
  $padding: 0.8rem
) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: $height;
    border-radius: $border-radius;
    background: $clr;
    z-index: -1;
  }

  img {
    height: $height;
    padding: $padding;
    border-radius: $border-radius * 2;
  }
}

@mixin shape-dots(
  $top: initial,
  $right: initial,
  $left: initial,
  $bottom: initial,
  $secondary: false
) {
  content: if(
    $secondary,
    url('../images/shapes/shape-dots-secondary.svg'),
    url('../images/shapes/shape-dots.svg')
  );
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
  z-index: -1;
}

@mixin slick-item(
  $width: 18.4rem,
  $height: 18.4rem,
  $dotsMargin: 5.6rem 0 0 0,
  $dotsSize: 1.6rem
) {
  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
  }

  .slick-slide > div {
    width: $width;
  }

  img {
    object-fit: cover;
    border-radius: 0.6rem;
    height: $height;
  }

  .slick-dots {
    position: static;
    line-height: 0;
    margin: $dotsMargin;

    li.slick-active button::before {
      background: $clr-royal-blue;
    }

    li button::before {
      content: '';
      border-radius: 50%;
      width: $dotsSize;
      height: $dotsSize;
      transition: all $transition;
      background: $clr-perano;
    }
  }

  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      top: 45px;
    }

    &.slick-prev {
      left: -50px;
    }

    &.slick-next {
      right: -50px;
    }

    &::before {
      font-size: 2rem;
      color: $clr-royal-blue;
      transition: all $transition;
    }
  }
}
