/*------------------------------------*\
  # Contact Image
\*------------------------------------*/

.contact-image {
  margin-top: 4.8rem;
  @include bordered-image($height: 41.6rem);
  position: relative;

  &::before {
    @include shape-dots($top: -2.5rem, $left: -1.6rem);
  }

  @include breakpoint-up(large) {
    @include bordered-image($height: 51.2rem);
    margin: 0;
  }
}
