/*------------------------------------*\
  # Contact Info
\*------------------------------------*/

.contact-info {
  @include breakpoint-up(large) {
    max-width: 54.6rem;
  }
}

.contact-info-contact {
  margin-top: 4rem;

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  a {
    @include link-reset;
    @include link($clr-turquoise, darken($clr-turquoise, 15%));
    font-weight: $fw-semi-bold;
  }
}

.contact-info-contact__heading {
  @include typography(
    $font-size: 2rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-white
  );
  margin: 0 0 0.8rem 0;
}

.contact-info__social {
  margin-top: 2.4rem;
}
