/*------------------------------------*\
  # Contact
\*------------------------------------*/

.contact__inner {
  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  @include breakpoint-up(large) {
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0;
  }
}
