/*------------------------------------*\
  # Form Field
\*------------------------------------*/

.form-field__group {
  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.form-field__label {
  @include typography(
    $font-weight: $fw-bold,
    $line-height: 1,
    $color: $clr-danger
  );

  // @include breakpoint-up(large) {
  //   @include typography(
  //     $font-size: 1.8rem,
  //     $font-weight: $fw-bold,
  //     $line-height: 1,
  //     $color: $clr-danger
  //   );
  // }
}

.form-field__control {
  @include reset-appearance;
  @include typography($line-height: 1);
  display: block;
  width: 100%;
  margin-top: 0.8rem;
  background: $clr-white;
  padding: 1.6rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $clr-mercury;

  @include breakpoint-up(large) {
    @include typography($font-size: 1.8rem, $line-height: 1);
  }

  &:focus {
    border-color: $clr-royal-blue;
  }

  &::placeholder {
    color: $clr-bombay !important;
  }

  &--error {
    border: 0.1rem solid $clr-danger !important;
  }

  &--outline {
    background: none;
    border-color: $clr-portage;

    &:focus {
      color: $clr-white;
      border-color: $clr-white;
    }

    &:focus::placeholder {
      color: $clr-white !important;
    }
  }
}

textarea.form-field__control {
  height: 18.4rem;
  line-height: 1.6;
  resize: vertical;

  // @include breakpoint-up(medium) {
  //   height: 30.4rem;
  // }

  // @include breakpoint-up(large) {
  //   height: 20rem;
  // }
}

.form-field__error {
  @include typography($color: $clr-danger);
  display: inline-block;
  margin-top: 0.8rem;
}
