/*------------------------------------*\
  # Form Checkbox
\*------------------------------------*/

.form-checkbox {
  outline: none;

  &:focus {
    .form-checkbox__field {
      border: 0.1rem solid $clr-turquoise;
    }
  }
}

.form-checkbox__label {
  display: flex;
}

.form-checkbox__control {
  display: none;

  &:checked + .form-checkbox__field {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:checked + .form-checkbox__field::before {
    content: '';
    background: url('../images/icons/form-checkbox.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 1.6rem;
    height: 1.6rem;
  }
}

.form-checkbox__field {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 1.6rem;
  background: $clr-woodsmoke-matt;
  border-radius: 0;
  border: 0.1rem solid $clr-armor-wash;

  @include breakpoint-up(large) {
    margin-right: 1.6rem;
  }
}

.form-checkbox__error,
.form-checkbox__text {
  @include typography($font-size: 1.4rem, $line-height: 1.4);

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  a {
    @include link-reset;
    @include link($clr-turquoise, darken($clr-turquoise, 15%));
    font-weight: $fw-bold;
  }
}

.form-checkbox__error {
  color: $clr-danger;
  display: inline-block;
  margin-top: 1.6rem;
}
