/*------------------------------------*\
  # Footer Copyright
\*------------------------------------*/

.footer-copyright {
  @include typography();
  margin-bottom: 1.6rem;

  @include breakpoint-up(large) {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  a {
    @include typography($font-weight: $fw-bold);
    @include link-reset;
    @include link($clr-turquoise, darken($clr-turquoise, 15%));
  }
}
