/*------------------------------------*\
  # Post Content
\*------------------------------------*/

.post-content {
  margin-top: 4rem;
}

.post-content__inner {
  @include breakpoint-up(large) {
    max-width: 73.6rem;
    margin: 0 auto;
  }
}
