/*------------------------------------*\
  # Post Author
\*------------------------------------*/

.post-author {
  padding: 3.2rem;
  background: $clr-woodsmoke-matt;

  @include breakpoint-up(medium) {
    padding: 4.8rem;
    display: flex;
  }

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.post-author-image {
  margin-bottom: 2.4rem;

  @include breakpoint-up(medium) {
    margin-right: 3.2rem;
  }
}

.post-author-image__img {
  @media (max-width: 20rem) {
    height: 17.6rem;
  }

  max-height: 34.4rem;

  @include breakpoint-up(medium) {
    width: 14.4rem;
    height: 14.4rem;
  }
}

.post-author-info__name {
  @include typography(
    $font-family: $ff-heading,
    $font-size: 1.8rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-white
  );
  margin: 0 0 0.8rem 0;
}

.post-author-info__shortbio {
  @include typography(
    $font-size: 1.4rem,
    $line-height: 1.6,
    $color: $clr-geyser
  );

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.post-author-info__bio {
  margin-top: 1.6rem;

  @include typography;

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.post-author-info__contact {
  margin-top: 1.6rem;

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  a {
    @include typography($font-size: 1.4rem, $font-weight: $fw-semi-bold);
    @include link-reset;
    @include link($clr-turquoise, darken($clr-turquoise, 15%));
  }
}

.post-author-info__social {
  margin-top: 1.6rem;

  .social__link {
    font-size: 1.4rem;
  }
}
