/*------------------------------------*\
  # Instagram Feed
\*------------------------------------*/

.instagram-feed {
  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
  }

  .slick-slide > div {
    width: 18.4rem;
  }

  img {
    object-fit: cover;
    border-radius: 0.6rem;
    height: 18.4rem;
  }

  .slick-dots {
    position: static;
    line-height: 0;
    margin: 5.6rem 0 0 0;

    li.slick-active button::before {
      background: $clr-royal-blue;
    }

    li button::before {
      content: '';
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      transition: all $transition;
      background: $clr-perano;
    }
  }

  .slick-arrow {
    &.slick-prev {
      left: -50px;
    }

    &.slick-next {
      right: -50px;
    }

    &::before {
      font-size: 2rem;
      color: $clr-royal-blue;
      transition: all $transition;
    }
  }
}
