/*------------------------------------*\
  # Project Image
\*------------------------------------*/

.project-image {
  position: relative;
  overflow: hidden;

  &:hover,
  &:focus {
    &::after {
      opacity: 0.85;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: all $transition;

    background: $clr-turquoise;
  }
}

.project-image__img {
  min-height: 22.4rem;
  max-height: 32rem;
}

.project-image__img--large {
  min-height: 31.2rem;
  max-height: 36.8rem;

  @include breakpoint-up(large) {
    min-height: 36.8rem;
  }
}
