/*------------------------------------*\
  # Button Secondary
\*------------------------------------*/

.button--secondary {
  background: $clr-white;
  color: $clr-royal-blue;

  &:hover {
    background: $clr-perano;
    color: $clr-royal-blue;
  }
}
