/*------------------------------------*\
  # Button Secondary
\*------------------------------------*/

.button--secondary {
  color: $clr-woodsmoke;
  background: $clr-white;

  &:hover,
  &:focus {
    background: $clr-turquoise;
    color: $clr-woodsmoke;
  }

  &:disabled {
    background: lighten($clr-white, 15%);
  }
}
