/*------------------------------------*\
  # Text Full
\*------------------------------------*/

.text-full {
  @include text;

  overflow-x: hidden;

  h1 {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 3.2rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );

    @include breakpoint-up(large) {
      @include typography(
        $font-family: $ff-heading,
        $font-size: 3.8rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-outer-space
      );
    }
  }

  h2 {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 2.8rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );

    @include breakpoint-up(large) {
      @include typography(
        $font-family: $ff-heading,
        $font-size: 3.4rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-outer-space
      );
    }
  }

  h3 {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 2.4rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );

    @include breakpoint-up(large) {
      @include typography(
        $font-family: $ff-heading,
        $font-size: 3rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-outer-space
      );
    }
  }

  h4 {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 2rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );

    @include breakpoint-up(large) {
      @include typography(
        $font-family: $ff-heading,
        $font-size: 2.6rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-outer-space
      );
    }
  }

  h5 {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 1.6rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );

    @include breakpoint-up(large) {
      @include typography(
        $font-family: $ff-heading,
        $font-size: 2.2rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-outer-space
      );
    }
  }

  h6 {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 1.4rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );

    @include breakpoint-up(large) {
      @include typography(
        $font-family: $ff-heading,
        $font-size: 1.8rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-outer-space
      );
    }
  }
}
