/*------------------------------------*\
  # Text
\*------------------------------------*/

@mixin text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4.8rem 0 1.6rem 0;

    &:first-child {
      margin-top: 0;
    }

    @include breakpoint-up(large) {
      margin: 5.6rem 0 1.6rem 0;
    }
  }

  ul,
  ol,
  p,
  li,
  blockquote,
  figure,
  figcaption {
    @include typography();
    margin: 0;
    padding: 0;

    @include breakpoint-up(large) {
      @include typography($font-size: 2rem, $line-height: 1.6);
    }
  }

  a {
    @include link-reset;
    @include link($clr-royal-blue, darken($clr-royal-blue, 15%));
    text-decoration: underline;
  }

  figure,
  .wp-caption {
    margin-top: 4.8rem;

    @include breakpoint-up(large) {
      margin-top: 5.6rem;
    }

    img {
      margin-bottom: 0;
      border-radius: $border-radius;
    }
  }

  figcaption,
  .wp-caption p {
    @include typography(
      $font-size: 1.4rem,
      $font-weight: $fw-bold,
      $line-height: 1.4,
      $color: $clr-iron
    );
    margin-top: 1.6rem;
    text-align: center;

    @include breakpoint-up(large) {
      @include typography(
        $font-size: 1.6rem,
        $font-weight: $fw-bold,
        $line-height: 1.4,
        $color: $clr-iron
      );
    }
  }

  .wp-caption img {
    margin: 0;
  }

  p:not(:last-child),
  ul,
  ol {
    margin-bottom: 2.4rem;

    @include breakpoint-up(large) {
      margin-bottom: 3.2rem;
    }
  }

  ul {
    padding-left: calc(2rem + 2.4rem);

    @include breakpoint-up(large) {
      padding-left: calc(2rem + 3.2rem);
    }
  }

  ol {
    padding-left: calc(1.8rem + 2.4rem);

    @include breakpoint-up(large) {
      padding-left: calc(1.8rem + 3.2rem);
    }
  }

  li:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  img {
    margin-bottom: 2.4rem;
  }

  .quote {
    position: relative;
    padding: 2.4rem;
    margin: 4.8rem 0;
    text-align: center;
    background: $clr-white-lilac;

    @include breakpoint-up(medium) {
      padding: 4rem;
      margin: 5.6rem 0;
    }

    blockquote p {
      @include typography(
        $font-size: 2rem,
        $font-weight: $fw-bold,
        $font-style: italic,
        $color: $clr-rock-blue
      );
      margin: 0;

      @include breakpoint-up(medium) {
        @include typography(
          $font-size: 2.4rem,
          $font-weight: $fw-bold,
          $font-style: italic,
          $color: $clr-rock-blue
        );
      }

      @include breakpoint-up(large) {
        @include typography(
          $font-size: 2.8rem,
          $font-weight: $fw-bold,
          $font-style: italic,
          $color: $clr-rock-blue
        );
      }
    }

    blockquote p:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    blockquote p::before {
      content: '\201C';
    }

    blockquote p::after {
      content: '\201D';
    }

    figcaption {
      @include typography(
        $font-weight: $fw-bold,
        $line-height: 1,
        $color: $clr-perano
      );
      margin-top: 1.6rem;

      &::before {
        content: '';
        position: relative;
        top: -0.1rem;
        display: inline-block;
        width: 1.6rem;
        height: 0.1rem;
        margin-right: 0.8rem;
        vertical-align: middle;
        background: $clr-perano;
      }
    }

    &::before {
      position: absolute;
      top: 2.4rem;
      left: 2.4rem;
      content: '\201C';
      @include typography(
        $font-size: 16.8rem,
        $font-weight: $fw-bold,
        $font-style: italic,
        $line-height: 0.65,
        $color: rgba($clr-royal-blue, 0.05)
      );
    }
  }
}

@import './text-basic.scss';
@import './text-full.scss';
