/*------------------------------------*\
  # Text Alt
\*------------------------------------*/

.text--alt {
  h1 {
    @include breakpoint-up(large) {
      @include typography(
        $font-size: 3.6rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-white
      );
    }
  }

  h2 {
    @include breakpoint-up(large) {
      @include typography(
        $font-size: 3rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-white
      );
    }
  }

  h3 {
    @include breakpoint-up(large) {
      @include typography(
        $font-size: 2.6rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-white
      );
    }
  }

  h4 {
    @include breakpoint-up(large) {
      @include typography(
        $font-size: 2.2rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-white
      );
    }
  }

  h5 {
    @include breakpoint-up(large) {
      @include typography(
        $font-size: 1.8rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-white
      );
    }
  }

  h6 {
    @include breakpoint-up(large) {
      @include typography(
        $font-size: 1.6rem,
        $font-weight: $fw-bold,
        $line-height: 1.2,
        $color: $clr-white
      );
    }
  }
}
