/*------------------------------------*\
  # Variables
\*------------------------------------*/

// Font Family
$ff-base: 'Karla', sans-serif;
$ff-heading: 'Rubik', sans-serif;

// Font Weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
$fw-extra-black: 950;

// Colors
$clr-royal-blue: #2f52e0;
$clr-rock-blue: #a9b1d1;
$clr-perano: #c0cbf6;
$clr-portage: #96a8ef;
$clr-white-lilac: #fbfbfe;

$clr-carnation: #f25757;

$clr-outer-space: #2e3131;

$clr-bombay: #b4b4b5;
$clr-iron: #d7d7d9;
$clr-mercury: #ebe9e9;
$clr-alabaster: #fafafa;

$clr-white: #ffffff;

$clr-danger: #f21b3f;
$clr-warning: #fffc31;
$clr-info: #00a7e1;
$clr-success: #06ba63;

// Border Radius
$border-radius: 0.6rem;
$border-radius-sm: 0.3rem;

// Transition
$transition: 0.25s ease-in-out;
