/*------------------------------------*\
  # Navigation List
\*------------------------------------*/

.navigation-list {
  @include list-unstyled;
  padding-top: 5.2rem; // 3.2rem + 2 for offset from the button

  @include breakpoint-up(xlarge) {
    padding-top: 0;
    text-align: left;
    display: flex;
  }
}

.navigation-list__item {
  &:not(:last-child) {
    margin-bottom: 2.4rem;

    @include breakpoint-up(xlarge) {
      margin-bottom: 0;
      margin-right: 1.6rem;
    }
  }

  @include breakpoint-up(xlarge) {
    &.language-select {
      margin-left: 1.6rem;
      margin-right: 0;
    }
  }
}

.navigation-list__link {
  @include link-reset;
  @include link($clr-bombay, $clr-royal-blue);
  font-size: 2rem;
  font-weight: $fw-bold;
  cursor: pointer;

  @include breakpoint-up(xlarge) {
    @include link($clr-bombay, $clr-royal-blue);
    font-size: 1.6rem;
  }

  &.language-select {
    line-height: 1;
    background: $clr-royal-blue;
    color: $clr-white;
    padding: 0.4rem 0.6rem;

    border-radius: $border-radius-sm;

    &:hover,
    &:focus {
      background: darken($clr-royal-blue, 10%);
    }
  }
}

.navigation-list__link--active {
  color: $clr-royal-blue;
}
