/*------------------------------------*\
  # Navigation
\*------------------------------------*/

.navigation-wrapper {
  display: flex;
}

.navigation-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  overflow-y: scroll;
  z-index: 98;
  width: 24rem;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
  background: $clr-white;
  box-shadow: 1px 4px 5px rgba($clr-rock-blue, 25%);

  transition: all $transition;

  &.is-open {
    transform: translateX(0);
  }

  @include breakpoint-up(xlarge) {
    position: relative;
    transform: none;
    transition: none;
    z-index: 0;
    overflow: initial;
    background: none;
    box-shadow: none;
    width: initial;
    padding: 0;

    display: flex;
    align-items: center;
  }
}

.navigation__cta {
  margin-top: 4.8rem;
  margin-bottom: 3.2rem;

  @include breakpoint-up(xlarge) {
    margin: 0 0 0 4.8rem;
  }
}
