/*------------------------------------*\
  # Page Image
\*------------------------------------*/

.page-image {
  @include breakpoint-up(large) {
    max-width: 44.8rem;
  }
}

.page-image__img {
  min-height: 36.8rem;
  max-height: 44.8rem;

  @include breakpoint-up(medium) {
    height: 42.4rem;
    max-height: initial;
  }

  @include breakpoint-up(large) {
    height: 56rem;
  }
}
