/*------------------------------------*\
  # Blog Post Content
\*------------------------------------*/

.blog-post-content {
  margin-top: 4rem;
  margin-bottom: 5.6rem;

  @include breakpoint-up(large) {
    margin-top: 5.6rem;
  }
}
