/*------------------------------------*\
  # About Image
\*------------------------------------*/

.about-image {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background: $clr-alabaster;
    z-index: -1;
  }

  img {
    height: 34.4rem;
    padding: 0.8rem;
    border-radius: $border-radius * 2;
  }
}
