/*------------------------------------*\
  # About
\*------------------------------------*/

.about__content {
  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 6.4rem;
  }
}
