/*------------------------------------*\
  # Newsletter
\*------------------------------------*/

.newsletter__form {
  .form-field__group {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  .form-field__control {
    text-align: center;

    &:focus {
      color: $clr-white;
      border-color: $clr-white;
    }

    @include breakpoint-up(medium) {
      text-align: left;
    }
  }

  .form__meta {
    margin: 0;
    text-align: left;
  }

  .form__button {
    width: 100%;
  }

  @include breakpoint-up(medium) {
    max-width: 36.8rem;
    margin: 0 auto;
  }
}
