/*------------------------------------*\
  # Newsletter
\*------------------------------------*/

.newsletter {
  .form-field__group {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  .form-field__control {
    text-align: center;
  }

  .form__meta {
    margin: 0;
    text-align: left;
  }

  .form__button {
    width: 100%;
  }
}
