/*------------------------------------*\
  # Cookie Consent Bar
\*------------------------------------*/

.cookie-consent-bar {
  overflow: hidden !important;
  position: fixed;
  padding: 3.2rem;
  max-width: 38rem;
  left: 2rem !important;
  right: 2rem !important;
  bottom: 2rem !important;
  z-index: 9999;

  background: $clr-woodsmoke-matt;
  border: 0.1rem solid $clr-turquoise;

  overflow: scroll;
}

.cookie-consent-bar__inner {
  @include typography(
    $font-size: 1.6rem,
    $font-weight: $fw-medium,
    $line-height: 2
  );

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  a {
    @include link-reset;
    @include link($clr-turquoise, darken($clr-turquoise, 15%));
    font-weight: $fw-semi-bold;
  }
}

.cookie-consent-bar__buttons {
  margin-top: 4rem;
}

.cookie-consent-bar__button--decline {
  color: $clr-geyser;

  &:hover,
  &:focus {
    color: $clr-danger;
  }
}
