/*------------------------------------*\
  # Logo
\*------------------------------------*/

.logo__inner {
  display: flex;
  align-items: center;
  line-height: 1;
}

.logo__link {
  @include link-reset;
}

.logo__image {
  height: 2.8rem;
  width: 11.2rem;
}
