/*------------------------------------*\
  # Logo
\*------------------------------------*/

.logo__inner {
  display: flex;
  align-items: center;
  line-height: 1;
}

.logo__link {
  @include link-reset;
}

.logo__image {
  &--md {
    height: 2.8rem;
    width: 11.2rem;
  }

  &--sm {
    height: 2.4rem;
    width: 7.2rem;
  }
}
