/*------------------------------------*\
  # Pagination
\*------------------------------------*/

.pagination {
  @include list-unstyled;
}

.pagination__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 0.8rem;
  }
}

.pagination__link {
  @include link-reset;
  @include link($clr-geyser, $clr-white);
}

.pagination__link--active {
  font-weight: $fw-bold;
  color: $clr-white;
}
