/*------------------------------------*\
  # Section
\*------------------------------------*/

.section {
  padding-top: 9.6rem;

  @include breakpoint-up(large) {
    padding-top: 13.6rem;
  }
}

.section__content {
  margin-top: 4rem;

  @include breakpoint-up(large) {
    margin-top: 5.6rem;
  }
}
