/*------------------------------------*\
  # Section
\*------------------------------------*/

.section {
  padding-top: 9.6rem;

  @include breakpoint-up(large) {
    padding-top: 12rem;
  }
}

.section__content {
  margin-top: 4rem;

  @include breakpoint-up(large) {
    margin-top: 6.4rem;
  }
}
