/*------------------------------------*\
  # Site Header
\*------------------------------------*/

.site-header {
  text-transform: uppercase;
  text-align: center;
}

.site-header__subheading {
  @include typography($font-size: 1.8rem, $font-weight: $fw-bold);
  display: block;
  margin: 0;
}

.site-header__heading {
  @include typography(
    $font-family: $ff-heading,
    $font-size: 3rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-outer-space
  );
  margin: 0.8rem 0 0 0;

  @include breakpoint-up(large) {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 4.2rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );
  }
}
