/*------------------------------------*\
  # Sub Heading
\*------------------------------------*/

.sub-heading {
  @include typography(
    $font-size: 2rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-white
  );
  margin: 0 0 2.4rem 0;

  @include breakpoint-up(large) {
    @include typography(
      $font-size: 2.2rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-white
    );
  }
}

.sub-heading-icon {
  margin-left: 0.8rem;
}

.sub-heading-icon__img {
  height: 1.6rem;
  vertical-align: middle;

  @include breakpoint-up(large) {
    height: 1.8rem;
  }
}
