/*------------------------------------*\
  # WordPress Core Styles
\*------------------------------------*/

// .alignnone {
//   margin: 5px 20px 20px 0;
// }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  @include breakpoint-up(medium) {
    float: right;
    margin: 0.8rem 0 2.4rem 2.4rem;
  }
}

.alignleft {
  @include breakpoint-up(medium) {
    float: left;
    margin: 0.8rem 2.4rem 2.4rem 0;
  }
}

.aligncenter {
  display: block;
  margin: 0.8rem auto 0.8rem auto;
}

a img.alignright {
  @include breakpoint-up(medium) {
    float: right;
    margin: 0.8rem 0 2.4rem 2.4rem;
  }
}

// a img.alignnone {
//   margin: 5px 20px 20px 0;
// }

a img.alignleft {
  @include breakpoint-up(medium) {
    float: left;
    margin: 0.8rem 2.4rem 2.4rem 0;
  }
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 0.8rem 2.4rem 2.4rem 0;
}

.wp-caption.alignleft {
  margin: 0.8rem 2.4rem 2.4rem 0;
}

.wp-caption.alignright {
  margin: 0.8rem 0 2.4rem 2.4rem;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
