/*------------------------------------*\
  # Blog Sidebar
\*------------------------------------*/

.blog-sidebar {
  margin-top: 8rem;

  @include breakpoint-up(medium) {
    display: flex;
  }

  @include breakpoint-up(large) {
    display: block;
    margin-top: 0;
  }
}

.blog-sidebar__spacing {
  margin-top: 4.8rem;

  @include breakpoint-up(medium) {
    margin-top: 0;
    margin-left: 4rem;
  }

  @include breakpoint-up(large) {
    margin-top: 4.8rem;
    margin-left: 0;
  }
}

.blog-sidebar__heading {
  @include typography(
    $font-size: 1.6rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-white
  );
  margin: 0 0 0.8rem 0;
}
