/*------------------------------------*\
  # Case Study Info
\*------------------------------------*/

.casestudy-info {
  @include breakpoint-up(medium) {
    max-width: 73.6rem;
  }

  .casestudy-separator {
    margin: 1.6rem 0 0 0;

    @include breakpoint-down(small) {
      width: 100%;
    }
  }
}

.casestudy-info__heading {
  @include typography(
    $font-size: 3.6rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-white
  );
  margin: 0;

  @include breakpoint-up(large) {
    @include typography(
      $font-size: 4.2rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-white
    );
  }
}

.casestudy-info__text {
  margin-top: 3.2rem;

  @include breakpoint-up(large) {
    margin-top: 4rem;
  }
}

.casestudy-info__meta {
  display: flex;
  align-items: center;
  margin-top: 4rem;

  @include breakpoint-up(large) {
    margin-top: 4.8rem;
  }
}

.casestudy-info__social {
  margin-left: 2.4rem;

  @include breakpoint-up(large) {
    margin-left: 3.2rem;

    .social__link {
      font-size: 2.4rem;
    }
  }
}
