/*------------------------------------*\
  # Case Study Featured Image
\*------------------------------------*/

.casestudy-featured-image {
  margin-top: 8rem;

  @include breakpoint-up(large) {
    margin-top: 9.6rem;
  }
}

.casestudy-featured-image__img {
  height: 40.8rem;

  @include breakpoint-up(large) {
    height: 54.4rem;
  }

  @include breakpoint-up(xlarge) {
    height: 73.6rem;
  }
}
