/*------------------------------------*\
  # Contact Form Loading
\*------------------------------------*/

.contact-form-loading {
  margin-top: 6.4rem;

  @include breakpoint-up(large) {
    text-align: center;
    margin-top: 0;
  }
}
