/*------------------------------------*\
  # Hero Info
\*------------------------------------*/

.hero-info {
  @include breakpoint-up(medium) {
    max-width: 54.4rem;
  }
}

.hero-info__heading {
  @include typography(
    $font-family: $ff-heading,
    $font-size: 4.2rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-outer-space
  );
  margin: 0 0 1.6rem 0;

  @include breakpoint-up(large) {
    @include typography(
      $font-family: $ff-heading,
      $font-size: 5.8rem,
      $font-weight: $fw-bold,
      $line-height: 1.2,
      $color: $clr-outer-space
    );
  }
}

.hero-info__tagline {
  @include typography(
    $font-size: 1.8rem,
    $font-weight: $fw-bold,
    $line-height: 1.4
  );
  margin: 0;

  @include breakpoint-up(medium) {
    @include typography(
      $font-size: 2.2rem,
      $font-weight: $fw-bold,
      $line-height: 1.4
    );
  }

  span {
    display: block;

    @include breakpoint-up(medium) {
      display: inline-block;
    }
  }

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }
}

.hero-info__text {
  @include typography($font-size: 1.6rem, $line-height: 1.6);
  margin-top: 3.2rem;

  @include breakpoint-up(large) {
    @include typography($font-size: 1.8rem, $line-height: 1.6);
  }

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}

.hero-info-cta {
  margin-top: 4.8rem;

  @include breakpoint-up(medium) {
    display: flex;
  }

  @include breakpoint-up(large) {
    margin-top: 5.6rem;
  }
}

.hero-info-cta__item {
  &:first-child {
    margin-bottom: 2.4rem;
  }

  @include breakpoint-up(medium) {
    &:first-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 2.4rem;
    }
  }
}
