/*------------------------------------*\
  # Hero
\*------------------------------------*/

.hero {
  margin-top: 5.6rem;

  @include breakpoint-up(large) {
    margin-top: 9.6rem;
  }
}

.hero__inner {
  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3.2rem;
  }
}
