/*------------------------------------*\
  # Social
\*------------------------------------*/

.social {
  @include list-unstyled;
}

.social__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.social__link,
.social__img {
  @include link-reset;
  @include link($clr-outer-space, $clr-royal-blue);
  font-size: 1.6rem;
}
