/*------------------------------------*\
  # Blog
\*------------------------------------*/

.blog__inner {
  @include breakpoint-up(large) {
    display: flex;
  }
}

.blog__content {
  @include breakpoint-up(large) {
    max-width: 84rem;
    margin-right: 4.8rem;
  }

  @include breakpoint-up(xlarge) {
    margin-right: 7.2rem;
  }
}

.blog__meta {
  margin-top: 4.8rem;
  text-align: right;

  @include breakpoint-up(large) {
    margin-top: 5.6rem;
  }
}

.blog__heading {
  @include typography(
    $font-size: 2rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-white
  );
  margin: 0 0 4rem 0;
  padding-bottom: 1.6rem;

  border-bottom: 0.1rem solid $clr-outer-space;
}

.blog__heading--highlight {
  color: $clr-turquoise;
  font-style: italic;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}
