/*------------------------------------*\
  # Blog List
\*------------------------------------*/

@keyframes animationOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blog-list--dummy {
  .blog-list__item {
    animation: animationOpacity 3s ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 100%;
  }
}
