/*------------------------------------*\
  # Blog Main
\*------------------------------------*/

.blog-main__pagination {
  margin-top: 7.2rem;
  text-align: right;

  @include breakpoint-up(large) {
    margin-top: 8.8rem;
  }
}
