/*------------------------------------*\
  # Blog
\*------------------------------------*/

.blog__layout {
  margin-top: 4rem;

  @include breakpoint-up(large) {
    display: grid;
    grid-gap: 6.4rem;
    grid-template-columns: 70.4rem 1fr;
    margin-top: 6.4rem;
  }
}
