/*------------------------------------*\
  # Search Result
\*------------------------------------*/

.search-result {
  .ais-Highlight-highlighted {
    color: $clr-turquoise;
  }
}

.search-result__link {
  @include typography(
    $font-size: 1.4rem,
    $font-weight: $fw-medium,
    $line-height: 1.6
  );
  @include link-reset;
  @include link($clr-geyser, $clr-turquoise);

  margin: 0;
}
