/*------------------------------------*\
  # Search Results
\*------------------------------------*/

.search-results {
  position: relative;

  @include list-unstyled;
  background: $clr-white-lilac;

  padding: 1.6rem;
  border-radius: $border-radius;
}

.search-results__heading {
  @include typography(
    $font-size: 1.6rem,
    $font-weight: $fw-bold,
    $line-height: 1.2,
    $color: $clr-rock-blue
  );
  margin: 0.8rem 0 2.4rem 0;
}

.search-results__item {
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.search-results__notfound {
  @include typography(
    $font-size: 1.4rem,
    $line-height: 1.2,
    $color: $clr-danger
  );
}

.search-results__link {
  @include typography(
    $font-size: 1.4rem,
    $font-weight: $fw-bold,
    $line-height: 1.2
  );
  @include link-reset;
  @include link($clr-royal-blue, darken($clr-royal-blue, 10%));
}
