/*------------------------------------*\
  # Search Form
\*------------------------------------*/

.search-form {
  position: relative;

  .form-field__group {
    margin: 0;
  }
}

.search-form__control {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.search-form__reset {
  position: absolute;
  top: 25%;
  bottom: 25%;
  right: -2.4rem;
  color: $clr-white;
}
